<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>427060203214-2i4j5lj2h0p06kflgb68ut4bfmngh8hi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.427060203214-2i4j5lj2h0p06kflgb68ut4bfmngh8hi</string>
	<key>API_KEY</key>
	<string>AIzaSyAFdz-RaqtNffaghUmVFCuPaBDRrKFajVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>427060203214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grovecollege.grove</string>
	<key>PROJECT_ID</key>
	<string>grove-ecc8a</string>
	<key>STORAGE_BUCKET</key>
	<string>grove-ecc8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:427060203214:ios:3bd69b79bd084cd229ca9f</string>
</dict>
</plist>